.banner_imagen{
    background: url("../../img/banner.jpg") no-repeat center / cover;
    height: calc(100vh - 72px); /*para que el tiulo no se vaya abajo*/
    width: 100%;
    
}
@media screen and (min-width: 0) {
    .banner_imagen{
        height: calc(100vh - 51px); /*para que el tiulo no se vaya abajo*/
    }
}
@media screen and (min-width: 768px) {
    .banner_imagen{
        height: calc(100vh - 72px);
    }
}